.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 30rem;
  border-radius: 0.5rem;
}
.modal .modal-content .close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.modal .modal-content .close-button:hover {
  background-color: darkgray;
}
.modal .modal-content h2 {
  text-align: center;
}
.modal .modal-content .modal-data {
  padding: 10px 0px;
}
.modal .modal-content .modal-data .data-items {
  padding: 10px 0px;
}
.modal .modal-content .modal-data .data-items:nth-last-child(1) {
  text-align: center;
}
.modal .modal-content .modal-data .data-items label {
  width: 100%;
  display: inline-block;
  padding: 5px 0px;
}
.modal .modal-content .modal-data .data-items .btn-edit {
  padding: 10px 16px;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 3px;
  background-color: #00b300;
}
.modal .modal-content .modal-data .data-items .btn-delete {
  padding: 10px 16px;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 3px;
  background-color: #ff3333;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.profile {
  text-align: center;
}
.profile img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  background: black;
  color: white;
}

nav {
  padding: 20px 120px;
}
nav ul {
  background: white;
  color: black;
  border: 1px solid #d0d0d0;
  text-align: center;
  list-style: none;
}
nav li {
  display: inline-block;
  padding: 10px 60px;
}
nav li:hover {
  background-color: #f5f5f5;
}
nav a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.student-data {
  text-align: center;
  padding: 12px 72px;
}
.student-data table {
  border: 1px solid #d0d0d0;
  border-collapse: collapse;
  display: inline-block;
  text-align: center;
}
.student-data table thead tr {
  border-bottom: 1px solid #d0d0d0;
}
.student-data table thead tr th {
  padding: 9px 54px;
  text-transform: uppercase;
  font-weight: bold;
  background: white;
  color: black;
}
.student-data table tbody {
  color: black;
}
.student-data table tbody tr {
  border-bottom: 1px solid #d0d0d0;
}
.student-data table tbody tr:nth-last-child(1) {
  border-bottom: none;
}
.student-data table tbody tr:hover {
  color: black;
  background: #f5f5f5;
}
.student-data table tbody td {
  padding: 9px 54px;
}
.student-data table tbody td.action {
  cursor: pointer;
}
.student-data table tbody td.action button {
  border-radius: 50%;
  padding: 6px;
  margin-right: 7px;
  border: none;
  background: transparent;
  transition: all 0.2s ease-in-out;
}
.student-data table tbody td.action .edit:hover {
  /*font-size:16px;
  background-color: attribute-name(color,primary);*/
  color: #007bff;
}
.student-data table tbody td.action .delete:hover {
  /*font-size:16px;
  background-color: attribute-name(color,danger);*/
  color: #ff1a1a;
}

.input {
  width: 97%;
  display: inline-block;
  padding: 10px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 3px;
}

.search-info {
  text-align: center;
  padding: 12px;
}
.search-info .input-items {
  text-align: center;
  padding: 10px 0px;
}
.search-info .input-items .input-field {
  width: 34%;
  padding: 8px 48px;
}
.search-info .btn-submit {
  background: white;
  color: black;
  border: 1px solid #d0d0d0;
  width: 14%;
  padding: 8px;
}
.search-info .btn-submit:hover {
  background-color: #259825;
  color: white;
}

/*# sourceMappingURL=student.css.map */
