.profile {
  text-align: center;
}
.profile img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  background: black;
  color: white;
}

nav {
  padding: 20px 120px;
}
nav ul {
  background: white;
  color: black;
  border: 1px solid #d0d0d0;
  text-align: center;
  list-style: none;
}
nav li {
  display: inline-block;
  padding: 10px 60px;
}
nav li:hover {
  background-color: #f5f5f5;
}
nav a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.student-data {
  text-align: center;
  padding: 12px 72px;
}
.student-data table {
  border: 1px solid #d0d0d0;
  border-collapse: collapse;
  display: inline-block;
  text-align: center;
}
.student-data table thead tr {
  border-bottom: 1px solid #d0d0d0;
}
.student-data table thead tr th {
  padding: 9px 54px;
  text-transform: uppercase;
  font-weight: bold;
  background: white;
  color: black;
}
.student-data table tbody {
  color: black;
}
.student-data table tbody tr {
  border-bottom: 1px solid #d0d0d0;
}
.student-data table tbody tr:nth-last-child(1) {
  border-bottom: none;
}
.student-data table tbody tr:hover {
  color: black;
  background: #f5f5f5;
}
.student-data table tbody td {
  padding: 9px 54px;
}
.student-data table tbody td.action {
  cursor: pointer;
}
.student-data table tbody td.action button {
  border-radius: 50%;
  padding: 6px;
  margin-right: 7px;
  border: none;
  background: transparent;
  transition: all 0.2s ease-in-out;
}
.student-data table tbody td.action .edit:hover {
  /*font-size:16px;
  background-color: attribute-name(color,primary);*/
  color: #007bff;
}
.student-data table tbody td.action .delete:hover {
  /*font-size:16px;
  background-color: attribute-name(color,danger);*/
  color: #ff1a1a;
}

.input {
  width: 97%;
  display: inline-block;
  padding: 10px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 3px;
}

/*# sourceMappingURL=style.css.map */
