@import '_variables';
@import '_mixin';
@import '_profile';
@import 'functions';



*{
	margin:0;padding:0;
}

h1{
	text-align:center;
	background: attribute-name(color,headline-bg-color);
	color: attribute-name(color,headline-txt-color);
}

nav{
	padding: padding(20px);
	ul{
		@include coloring;
		text-align:center;
		list-style:none;
		
	}
	li{
		display: inline-block;
		padding: padding(10px);
		
		&:hover{
			background-color:attribute-name(color,gray)
		}
	}
	a{
		color: attribute-name(color,headline-bg-color);
		text-decoration:none;
		font-size: attribute-name(font,navbar-font);
		
	}
}

.student-data {
	text-align:center;
	padding:padding(12px);
	table{
		border:1px solid attribute-name(color,light-black);
		border-collapse: collapse;
		display:inline-block;
		text-align:center;
		
		thead{
			tr{
				border-bottom:1px solid attribute-name(color,light-black);
				
				th{
					@include data-cell;
					text-transform:uppercase;
					font-weight:bold;
					background: attribute-name(color,headline-txt-color);
					color: attribute-name(color,headline-bg-color);
				}
			}
		}
		
		tbody{
			color: attribute-name(color,headline-bg-color);
			tr{
				border-bottom:1px solid attribute-name(color,light-black);
				
				&:nth-last-child(1){
					border-bottom:none;
				}
				&:hover
				{
					color: attribute-name(color,headline-bg-color);
					background: attribute-name(color,gray);
					
				}
				
			}
			td{
				@include data-cell;
				
			}
			td.action{
				cursor:pointer;
				
				button{
					@include tableButton;
				}
				.edit{
					&:hover{
						/*font-size:16px;
						background-color: attribute-name(color,primary);*/
						color: attribute-name(color,primary);
					}
				}
				.delete{
					&:hover{
						/*font-size:16px;
						background-color: attribute-name(color,danger);*/
						color: attribute-name(color,danger);
					}
				}
			}
		}
	}
}

.input{
	width:97%;
	display: inline-block;
	padding: 10px;
	background-color: #f1f1f1;
    border: none;
    border-radius: 3px;
}